Ben Morgan <benpmorgan@gmail.com> <benpmorgan@bcd7d363-81e1-0310-97ec-a550e20fc99c>
Chris Little <chrislit@crosswire.org> <chrislit@bcd7d363-81e1-0310-97ec-a550e20fc99c>
DM Smith <dmsmith@crosswire.org> <dmsmith@bcd7d363-81e1-0310-97ec-a550e20fc99c>
Daniel Glassey <wdg@debian.org> <dglassey@bcd7d363-81e1-0310-97ec-a550e20fc99c>
Daniel Hughes <trampster@gmail.com> <trampster@bcd7d363-81e1-0310-97ec-a550e20fc99c>
David Trotz <dtrotzjr@sbcglobal.net> <dtrotzjr@bcd7d363-81e1-0310-97ec-a550e20fc99c>
Dominique Corbex <dominique@corbex.org> <domcox@bcd7d363-81e1-0310-97ec-a550e20fc99c>
Gregory Hellings <ghelling@redhat.com> <greg.hellings@bcd7d363-81e1-0310-97ec-a550e20fc99c>
Jason Turner <lefticus@gmail.com> <lefticus@bcd7d363-81e1-0310-97ec-a550e20fc99c>
Joachim Ansorg <joachim@users.sourceforge.net> <jansorg@bcd7d363-81e1-0310-97ec-a550e20fc99c>
Joachim Ansorg <joachim@users.sourceforge.net> <joachim@bcd7d363-81e1-0310-97ec-a550e20fc99c>
Karl Kleinpaste <karl@kleinpaste.org> <charcoal@bcd7d363-81e1-0310-97ec-a550e20fc99c>
Manfred Bergmann <manfred.bergmann@me.com> <mdbergmann@bcd7d363-81e1-0310-97ec-a550e20fc99c>
Martin Gruner <martin.gruner@otrs.com> <mg@bcd7d363-81e1-0310-97ec-a550e20fc99c>
Martin Gruner <martin.gruner@otrs.com> <mgruner@bcd7d363-81e1-0310-97ec-a550e20fc99c>
Peter von Kaehne <refdoc@gmx.net> <refdoc@bcd7d363-81e1-0310-97ec-a550e20fc99c>
Terry Biggs <tbiggs@infinet.com> <tbiggs@bcd7d363-81e1-0310-97ec-a550e20fc99c>
Torsten Ulhmann <tuhlmann@gmx.de> <tuhlmann@bcd7d363-81e1-0310-97ec-a550e20fc99c>
Troy A. Griffitts <scribe@crosswire.org> <scribe@bcd7d363-81e1-0310-97ec-a550e20fc99c>
Will Thimbleby <will@thimbleby.net> <willthimbleby@bcd7d363-81e1-0310-97ec-a550e20fc99c>
