Source: sword
Build-Depends: debhelper (>=4.0.0), libz-dev, autotools-dev, pkg-config, libcurl2-dev
Section: libs
Priority: optional
Maintainer: Daniel Glassey <wdg@debian.org>
Standards-Version: 3.6.1.0

Package: libsword4
Architecture: any
Section: libs
Depends: ${shlibs:Depends}
Recommends: sword-frontend
Replaces: libsword1, libsword2c102, libsword3, libsword-runtime, libsword-config
Description: API/library for bible software
 The SWORD Project is an open source, cross-platform (Linux, Windows, Solaris,
 MacOSX etc.) API/library for Bible software with a constantly growing list 
 of front-ends (GUI, textmode, web-based, etc.) and a library of over 200 
 text modules.
 .
 This package contains the core libraries for the project.
 It also contains utilities for generating data modules.
 .
 Please read the README.Debian for more information on how to obtain other
 modules for sword.

Package: libsword-dev
Architecture: any
Section: libdevel
Depends: libsword4 (= ${Source-Version}), libc6-dev, libz-dev, libcurl2-dev
Provides: sword-dev
Description: Development files for libsword
 This package contains the static libraries and headers for developing 
 applications that use the sword library.
